* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.square {
    height: 200px;
    width: 200px;
    background-color: red;
    margin: 10px;
}

.little-square {
    height: 50px;
    width: 50px;
    background-color: blue;
    margin: 10px;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between
}

.align-center {
    align-items: center;
}

.dimensions {
    width: 100%;
    height: 700px;
}

.d-flex {
    display: flex;
}

header {
    background-color: lightgray;
    border-bottom: 1px solid grey;
    font-size: 26px;
}


ul {
    list-style-type: none;
    display: flex;
}

li {
    padding: 0px 15px;
}

.height-75px {
    height: 75px;
}

.flex-basis {
    flex-basis: 100px;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}